# Node.js dependencies
/frontend/node_modules
/frontend/.env.local

# Python virtual environments
/backend/.venv
/backend/venv
/backend/.env
/backend/vapiTest.py

# Cred
/cred.txt
/

# Python cache
/backend/__pycache__/
*.pyc

# Logs
*.log

# macOS system files
.DS_Store

# Environment variables
.env
.env.local
.env.*.local

# next.js
/.next/
/out/

# Build artifacts (optional)
dist/
build/

# Optional: Vercel / Netlify folders
.vercel/
.netlify/

# Optional: Python packaging cache
pip-wheel-metadata/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*


# typescript
*.tsbuildinfo
next-env.d.ts